@import compass/css3

@page
  margin: 1.5cm /* All margins set to 2cm */

@media print
  $print-body-width: 1000px
  body
    width: $print-body-width
    margin: 0 auto

  // Foundation print hack
  // https://github.com/zurb/foundation/issues/1285
  div:not(.reveal-modal)
    display: inherit !important

  // Add borders to printed labels
  .label
    border: 1px solid $primary-color
    color: $primary-color
    &.alert
      border-color: $alert-color
      color: $alert-color
    &.success
      border-color: $success-color
      color: $success-color
    &.secondary
      border-color: $secondary-color
      color: $secondary-color

  .footer
    margin-top: 5cm
    text-align: center
    display: block
    width: $print-body-width

  .page-break
    // http://davidwalsh.name/css-page-breaks
    border-color: transparent
    page-break-before: always

body
  padding-bottom: 5em

a.th>img
  vertical-align: bottom  // Eliminate the bottom gap

header
  @media #{$small}
    padding-top: $paragraph-font-size * 5
    padding-bottom: $paragraph-font-size * 5

img.round, a.th.round, a.th.round>img
  display: block
  +border-radius($global-rounded)

// Multicolumn will crop outside-positioned list item
// Thus we must make it inside.
ul.multicolumns
  list-style-position: inside

.multicolumns
  @media #{$small}
    +column-count(1)

.two.multicolumns
  +columns($column-gutter 2)

