/*
Syntax error: Undefined variable: "$small".
        on line 11 of /Users/mrorz/workspace/mrorz.github.com/sass/index.sass

Backtrace:
/Users/mrorz/workspace/mrorz.github.com/sass/index.sass:11
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/script/variable.rb:49:in `_perform'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/script/node.rb:40:in `perform'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:398:in `block in run_interp_no_strip'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:396:in `map'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:396:in `run_interp_no_strip'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:406:in `run_interp'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:360:in `visit_media'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194@global/gems/guard-compass-0.0.6/lib/guard/compass.rb:47:in `run_on_change'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:99:in `block in run_supervised_task'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:97:in `catch'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:97:in `run_supervised_task'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:146:in `block in run_first_task_found'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:144:in `each'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:144:in `run_first_task_found'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:79:in `block in run_on_changes'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:175:in `block (3 levels) in scoped_guards'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:174:in `each'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:174:in `block (2 levels) in scoped_guards'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:173:in `catch'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:173:in `block in scoped_guards'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:172:in `each'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:172:in `scoped_guards'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard/runner.rb:72:in `run_on_changes'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard.rb:139:in `block (2 levels) in setup_listener'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard.rb:363:in `block in within_preserved_state'
<internal:prelude>:10:in `synchronize'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard.rb:360:in `within_preserved_state'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.6.2/lib/guard.rb:138:in `block in setup_listener'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/listener.rb:212:in `call'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/listener.rb:212:in `on_change'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/listener.rb:221:in `block in initialize_adapter'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/mrorz/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$small\".\A         on line 11 of /Users/mrorz/workspace/mrorz.github.com/sass/index.sass"; }
